<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MANAGER.Properties.Connection" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MANAGER.Localisation.LocalisationEnSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MANAGER.Localisation.LocalisationEn" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MANAGER.LocalisationEn" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MANAGER.Localisation" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MANAGER.Connection.Connection" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MANAGER.Langue" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MANAGER.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <MANAGER.Properties.Connection>
      <setting name="UserId" serializeAs="String">
        <value>SLAM3</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>pw</value>
      </setting>
      <setting name="DatabaseConnectionString" serializeAs="String">
        <value>user id=SLAM3;password=pw;data source=localhost:1521/xe</value>
      </setting>
      <setting name="Datasource" serializeAs="String">
        <value>localhost:1521/xe</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>Oracle</value>
      </setting>
    </MANAGER.Properties.Connection>
    <MANAGER.Localisation.LocalisationEnSetting>
      <setting name="AddMerchandise" serializeAs="String">
        <value>Add a merchandise :</value>
      </setting>
      <setting name="Customer" serializeAs="String">
        <value>The customer</value>
      </setting>
      <setting name="qte" serializeAs="String">
        <value>Quantity :</value>
      </setting>
    </MANAGER.Localisation.LocalisationEnSetting>
    <MANAGER.Localisation.LocalisationEn>
      <setting name="IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DbFail" serializeAs="String">
        <value>Unable to connect to the database</value>
      </setting>
      <setting name="Error" serializeAs="String">
        <value>Error</value>
      </setting>
      <setting name="DeleteMerchandise" serializeAs="String">
        <value>Delete the merchandise</value>
      </setting>
      <setting name="CreateCE" serializeAs="String">
        <value>Create a cost estimate</value>
      </setting>
      <setting name="AddMerchandise" serializeAs="String">
        <value>Add a merchandise :</value>
      </setting>
      <setting name="Merchandise" serializeAs="String">
        <value>Merchandise</value>
      </setting>
      <setting name="Add" serializeAs="String">
        <value>Add</value>
      </setting>
      <setting name="Customer" serializeAs="String">
        <value>The customer</value>
      </setting>
      <setting name="qte" serializeAs="String">
        <value>Quantity :</value>
      </setting>
      <setting name="Price" serializeAs="String">
        <value>Price  :</value>
      </setting>
      <setting name="Create" serializeAs="String">
        <value>Create</value>
      </setting>
      <setting name="About" serializeAs="String">
        <value>About</value>
      </setting>
    </MANAGER.Localisation.LocalisationEn>
    <MANAGER.LocalisationEn>
      <setting name="IsActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DbFail" serializeAs="String">
        <value>Unable to connect to the database</value>
      </setting>
      <setting name="Error" serializeAs="String">
        <value>Error</value>
      </setting>
      <setting name="DeleteMerchandise" serializeAs="String">
        <value>Delete the merchandise</value>
      </setting>
      <setting name="CreateCE" serializeAs="String">
        <value>Create a cost estimate</value>
      </setting>
      <setting name="AddMerchandise" serializeAs="String">
        <value>Add a merchandise :</value>
      </setting>
      <setting name="Merchandise" serializeAs="String">
        <value>Merchandise</value>
      </setting>
      <setting name="Add" serializeAs="String">
        <value>Add</value>
      </setting>
      <setting name="Customer" serializeAs="String">
        <value>The customer</value>
      </setting>
      <setting name="qte" serializeAs="String">
        <value>Quantity :</value>
      </setting>
      <setting name="Price" serializeAs="String">
        <value>Price  :</value>
      </setting>
      <setting name="Create" serializeAs="String">
        <value>Create</value>
      </setting>
    </MANAGER.LocalisationEn>
    <MANAGER.Localisation>
      <setting name="Error" serializeAs="String">
        <value>Error</value>
      </setting>
    </MANAGER.Localisation>
    <MANAGER.Connection.Connection>
      <setting name="UserId" serializeAs="String">
        <value>SLAM3</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>pw</value>
      </setting>
      <setting name="DatabaseConnectionString" serializeAs="String">
        <value>user id=SLAM3;password=pw;data source=localhost:1521/xe</value>
      </setting>
      <setting name="Datasource" serializeAs="String">
        <value>localhost:1521/xe</value>
      </setting>
      <setting name="IsDatabaseSet" serializeAs="String">
        <value>False</value>
      </setting>
    </MANAGER.Connection.Connection>
    <MANAGER.Langue>
      <setting name="Setting" serializeAs="String">
        <value>test</value>
      </setting>
    </MANAGER.Langue>
    <MANAGER.Properties.Settings>
      <setting name="AccentColor" serializeAs="String">
        <value>#FF1BA1E2</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>Large</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>/FirstFloor.ModernUI;component/Assets/ModernUI.Dark.xaml</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>English</value>
      </setting>
    </MANAGER.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
  </entityFramework>
</configuration>